@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --red-500: #ff2020;
}
body {
  font-family: "Josefin Sans", sans-serif;
}
/* --------HEADER-------- */
header {
  background-color: white;
  box-shadow: 0 1px 20px rgba(211, 208, 208, 0.8);
  position: sticky;
  top: 0px;
  z-index: 100;
}
header .head-inner {
  width: 85%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar {
  display: flex;
}
header .navbar a {
  font-weight: 600;
}
header .navbar > li {
  position: relative;
  z-index: 100;
  padding: 40px 28px;
}
header .navbar .status {
  display: inline-block;
  padding: 5px 8px;
  border-radius: 8px;
  background-color: var(--red-500);
  font-size: 10px;
  color: white;
  font-weight: 500;
  position: absolute;
  top: 19px;
  right: -8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  text-align: center;
}
header .navbar .dropdown {
  visibility: hidden;
  width: 170px;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  position: absolute;
  background: white;
  top: 90%;
  left: 10px;
  border-top: 3px solid var(--red-500);
  border-radius: 8px 8px 2px 2px;
  opacity: 0;
  transition: 0.5s;
}
header .navbar .sub-li:hover .dropdown {
  visibility: visible;
  opacity: 1;
  top: 100%;
}
header .navbar .dropdown::before {
  content: "";
  position: absolute;
  top: 0px;
  border: 6px solid transparent;
  transform: translateY(calc(-100% - 2.5px));
  border-bottom-color: var(--red-500);
}
header .header-right {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
header .header-right .hamburger {
  display: none;
  color: var(--red-500);
}
header .header-right .icons {
  display: flex;
  column-gap: 36px;
}
header .header-right .icons a:hover,
header .navbar a:hover {
  color: var(--red-500);
}
/* ----END OF HEADER---- */

/* ------BANNER------ */
#Banner {
  background-color: #f0f0f2;
  height: 100vh;
}
.banner-row {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.banner-row img {
  height: 100%;
}
.banner-row img {
  position: relative;
  transition: all 0.6s ease-out 0s;
}
.banner-row img:hover {
  transform: scale(1.1);
}
.banner-text h1 {
  font-size: 96px;
  color: #0b1c39;
  text-transform: capitalize;
}
.banner-text p {
  width: 70%;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: #212025;
  padding: 40px 0px;
  line-height: 130%;
}
/* ----END OF BANNER---- */

/* ------MAIN------ */
/* -----SECTION-1----- */
.newarrivals-section {
  width: 100%;
  padding: 100px 0px;
}
.newarrivals-section h2 {
  padding: 50px 12px;
  font-size: 50px;
  font-family: 700;
}
.newarrivals-section .new-arrivals {
  display: flex;
}
.new-arrivals .desc {
  text-align: center;
}
.new-arrivals .desc h3 {
  font-size: 24px;
  padding: 24px 0px;
  color: #444444;
}
.new-arrivals .desc span {
  color: var(--red-500);
  font-size: 18px;
  font-weight: 500;
  display: block;
}
.new-arrivals .new-image {
  padding: 0px 15px;
}
.image {
  overflow: hidden;
}
.new-arrivals .new-image img {
  position: relative;
  width: 100%;
  transition: all 0.4s ease-out 0s;
}
.new-image img:hover {
  transform: scale(1.1);
}
/* ----END OF SECTION-1---- */

/* -----SECTION-2----- */
.galery {
  display: flex;
  padding: 60px 0px;
}
.galery-image img {
  padding: 10px 0px;
  position: relative;
  transition: all 0.4s ease-out 0s;
}
.galery-image img:hover {
  transform: scale(0.9);
}
/* ----END OF SECTION-2---- */

/* -----SECTION-3----- */
.popular-items {
  width: 100%;
  padding: 60px 0px;
}
.popular-items .row-center {
  text-align: center;
  padding: 50px 0px;
}
.section-tittle h2 {
  font-size: 48px;
  font-weight: 700;
  padding: 14px 0px;
}
.section-tittle p {
  font-family: "Roboto", sans-serif;
  color: #777;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 15px;
  padding: 0px 22%;
}
.popular-items .row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.row .popular-flex {
  width: calc(100% / 3);
  padding: 50px 15px;
}
.popular-caption {
  position: relative;
  left: 0px;
  bottom: 0px;
  width: 100%;
  border-top: 3px solid var(--red-500);
}
.img-cap {
  visibility: hidden;
  position: absolute;
  width: 100%;
  left: 0px;
  top: 100%;
  text-align: center;
  color: white;
  padding: 25px 0px;
  background-color: var(--red-500);
  opacity: 0;
  transition: all 0.4s ease-out 0s;
}
.popular-img:hover .img-cap {
  visibility: visible;
  opacity: 1;
  top: 84.5%;
  cursor: pointer;
}
.popular-img {
  position: relative;
}
.favorit-items {
  position: absolute;
  color: #333333;
  font-size: 30px;
  cursor: pointer;
  opacity: 0;
  right: 20px;
  top: 0px;
}
.popular-img:hover .favorit-items {
  visibility: visible;
  opacity: 1;
  transition: all 0.4s ease-out 0s;
}
.popular-caption {
  text-align: center;
  background-color: white;
}
.popular-caption {
  color: #444444;
  font-size: 20px;
}
.popular-caption h3 {
  padding: 20px 0px;
}
/* ----END OF SECTION-3---- */

/* ----SECTION-4---- */
.video-container {
  display: flex;
  position: relative;
  padding: 80px 0px;
}
.video-img img {
  width: 100%;
}
.red-content {
  position: absolute;
  background-color: var(--red-500);
  width: 30%;
  height: 150px;
  bottom: 84px;
  left: 0px;
}
.red-content h3 {
  color: white;
  padding: 15% 15%;
  font-weight: 400;
}
.red-content .arrow-right {
  position: absolute;
  color: white;
  font-size: 30px;
  left: 70%;
  top: 42%;
}
.play {
  position: absolute;
  color: white;
  font-size: 100px;
  font-weight: 85;
  left: 45%;
  top: 45%;
}
/* ----END OF SECTION-4---- */

/* ----SECTION-5---- */
#Banner-1 {
  height: 100vh;
  padding: 50px 0px;
}
.banner-row-1 {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.banner-row-1 img {
  height: 90%;
}
.banner-text-1 h2 {
  font-size: 50px;
  color: #0b1c39;
  text-transform: capitalize;
  font-weight: 700;
}
.banner-text-1 p {
  width: 70%;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: #777;
  padding: 40px 0px;
  line-height: 200%;
}
/* ----END OF SECTION-5---- */

/* ----SECTION-6---- */
#Banner-2 {
  height: 100vh;
  padding: 50px 0px;
}
.banner-row-2 {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.banner-row-2 img {
  height: 90%;
}
.banner-text-2 {
  padding-left: 12%;
}
.banner-text-2 h2 {
  text-align: center;
  font-size: 50px;
  color: #0b1c39;
  text-transform: capitalize;
  font-weight: 700;
}
.banner-text-2 p {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: #777;
  padding: 40px 0px;
  line-height: 200%;
}
/* ----END OF SECTION-6---- */

/* ----SECTION-7---- */
.red-package {
  padding: 100px 0px;
}
.red-package .red-cub {
  display: flex;
  width: 100%;
  height: 260px;
  background-color: #ea0000;
}
.red-cub .desc {
  text-align: justify;
  font-family: "Roboto", sans-serif;
  padding: 30px 20px 0px 50px;
}
.red-cub .desc span {
  font-size: 40px;
  color: white;
  line-height: 200%;
}
.red-cub .desc h5 {
  font-size: 20px;
  color: white;
  line-height: 200%;
}
.red-cub .desc p {
  width: 80%;
  font-size: 16px;
  color: rgb(212, 209, 209);
  line-height: 200%;
}
/* ----END OF SECTION-7---- */
/* ----END OF MAIN---- */

/* -----FOOTER----- */
.footer-row {
  width: 100%;
  display: flex;
  padding: 80px 0px;
}
.footer-title {
  width: 40%;
}
.footer-title p {
  color: #8a8f9a;
  font-family: "Roboto", sans-serif;
  padding-top: 40px;
  line-height: 180%;
}
.article-link {
  width: 40%;
  padding-left: 30px;
  font-family: "Roboto", sans-serif;
}
.article-link h3 {
  font-size: 20px;
  padding-bottom: 30px;
}
.article-link li {
  color: #939eb1;
  line-height: 220%;
  transition: all 0.3s;
  transform: rotateY(0deg);
}
.article-link li:hover {
  color: var(--red-500); /* transform: scale(1.02); */
  transform: rotateY(15deg);
}
.footer-icons-desc {
  position: relative;
  display: flex;
  padding: 0px 0px 50px 0px;
}
.footer-desc p {
  font-family: "Roboto", sans-serif;
  color: #939eb1;
}
.footer-desc i,
.footer-desc a {
  color: var(--red-500);
}

.footer-icons {
  position: absolute;
  right: 0px;
}
.footer-icons i {
  padding: 0px 10px;
}
.footer-icons-hover {
  position: absolute;
  right: 0px;
  opacity: 0;
}
.footer-icons-hover i {
  padding: 0px 10px;
}
.footer-icons-hover:hover {
  color: var(--red-500);
  opacity: 1;
}
.up-icon {
  position: absolute;
  font-size: 60px;
  color: var(--red-500);
  right: 40px;
  padding: 30px 0px;
}
/* -----END OF FOOTER----- */
@media screen and (max-width: 1200px) {
  #Banner {
    height: 70vh;
  }
  .banner-text h1 {
    font-size: 60px;
  }
  header {
    padding: 20px 0px;
    position: relative;
  }
  header nav {
    display: none;
    width: 95%;
    position: absolute;
    top: 100%;
    background: white;
    left: 30px;
    padding: 20px 30px;
    z-index: 1000;
  }
  /* header nav .visible{
    display: block;
  } */
  header .navbar {
    flex-direction: column;
  }
  header .navbar .status {
    display: none;
  }
  header .navbar > li {
    padding: 10px 0px;
  }
  header .navbar .sub-li:hover .dropdown {
    display: flex;
  }
  header .navbar .sub-li::after {
    content: "+";
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
  }
  header .navbar .sub-li:hover::after {
    content: "-";
    font-size: 40px;
  }
  header .navbar .dropdown {
    visibility: visible;
    display: none;
    position: relative;
    border: none;
    padding-bottom: 0px;
  }
  header .navbar .dropdown::before {
    display: none;
  }
  header .header-right .hamburger {
    display: inline-block;
    font-size: 30px;
  }
}
@media screen and (max-width: 760px) {
  .banner-text h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 576px) {
  header nav {
    width: 85%;
  }
  #Banner {
    min-height: 30vh;
    padding-top: 50px;
  }
  #Banner .container {
    height: auto;
  }
  header .header-right .icons {
    transform: translateY(70px) translateX(70px);
  }
  .banner-text h1 {
    font-size: 33px;
  }
  .banner-row img {
    display: none;
  }
}
